$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px )
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px )

.jello-horizontal
    -webkit-animation: jello-horizontal 0.9s 0s both
    animation: jello-horizontal 0.9s 0s both

.blink-1
    -webkit-animation: blink-1 2.5s ease-in-out infinite both
    animation: blink-1 2.5s ease-in-out infinite both

.heartbeat
	-webkit-animation: heartbeat 1.75s ease-in-out infinite both
    animation: heartbeat 1.75s ease-in-out infinite both

#loader
    position: absolute
    z-index: 100
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.7)

    .loader
        top: 50%
        left: 50%
        margin-top: -25px
        margin-left: -25px
        position: absolute
        width: 50px
        height: 50px
        border: .2em solid transparent
        border-left-color: #fff
        border-right-color: #fff
        border-radius: 50%
        animation: 1s loader-02 linear infinite
        -webkit-animation: 1s loader-02 linear infinite
        pointer-events: none

=keyframes($name)
    @-webkit-keyframes #{$name}
        @content
    @keyframes #{$name}
        @content

+keyframes(jello-horizontal)
    0%
        -webkit-transform: scale3d(1, 1, 1)
        transform: scale3d(1, 1, 1)

    30%
        -webkit-transform: scale3d(1.25, 0.75, 1)
        transform: scale3d(1.25, 0.75, 1)

    40%
        -webkit-transform: scale3d(0.75, 1.25, 1)
        transform: scale3d(0.75, 1.25, 1)

    50%
        -webkit-transform: scale3d(1.15, 0.85, 1)
        transform: scale3d(1.15, 0.85, 1)

    65%
        -webkit-transform: scale3d(0.95, 1.05, 1)
        transform: scale3d(0.95, 1.05, 1)

    75%
        -webkit-transform: scale3d(1.05, 0.95, 1)
        transform: scale3d(1.05, 0.95, 1)

    100%
        -webkit-transform: scale3d(1, 1, 1)
        transform: scale3d(1, 1, 1)

+keyframes(blink-1)
    0%,
    50%,
    100%
        opacity: 1
    25%,
    75%
        opacity: 0

+keyframes(heartbeat)
    from
        -webkit-transform: scale(1)
        transform: scale(1)
        -webkit-transform-origin: center center
        transform-origin: center center
        -webkit-animation-timing-function: ease-out
        animation-timing-function: ease-out

    10%
        -webkit-transform: scale(0.91)
        transform: scale(0.91)
        -webkit-animation-timing-function: ease-in
        animation-timing-function: ease-in

    17%
        -webkit-transform: scale(0.98)
        transform: scale(0.98)
        -webkit-animation-timing-function: ease-out
        animation-timing-function: ease-out

    33%
        -webkit-transform: scale(0.87)
        transform: scale(0.87)
        -webkit-animation-timing-function: ease-in
        animation-timing-function: ease-in

    45%
        -webkit-transform: scale(1)
        transform: scale(1)
        -webkit-animation-timing-function: ease-out
        animation-timing-function: ease-out

+keyframes(loader-02)
    0%
        transform: rotate(0deg)
        -webkit-transform: rotate(0deg)
    100%
        transform: rotate(360deg)
        -webkit-transform: rotate(360deg)

.top100, .top75, .top50, .top25
    position: absolute
    width: 100%
    left: 50%

.top100
    top: 100%
    -webkit-transform: translate(-50%, -100%)
    transform: translate(-50%, -100%)

.top75
    top: 75%
    -webkit-transform: translate(-50%, -75%)
    transform: translate(-50%, -75%)

.top50
    top: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)

.top25
    top: 25%
    -webkit-transform: translate(-50%, -25%)
    transform: translate(-50%, -25%)

.blue
    color: #0546c9

.pink
    color: #af2e70

@media (max-width: map-get($grid-breakpoints, 'sm'))
    h1
        font-size: 7.75vw
    h2
        font-size: 7.25vw
    h3
        font-size: 6.75vw
    h4
        font-size: 6.25vw
    h5
        font-size: 5.75vw
    h6
        font-size: 5.25vw
    p
        font-size: 4.75vw

body
    background-image: url(images/background.png)
    background-size: cover
    background-repeat: no-repeat
    font-family: Verdana, Geneva, sans-serif
    color: #0f2b65

    header
        min-height: 90px
        height: 25vh
        padding: 10px 0px

        h1, h2, h3, h4, h5, h6
            line-height: 1
            letter-spacing: 1px

        .center-img
            background: url(images/logo.png) top center
            background-size: contain
            min-height: 70px
            max-height: 215px
            background-repeat: no-repeat no-repeat
            height: 100%
            width: 100%

    main
        position: relative
        height: 65vh

        &.auto
            height: auto

        section
            width: 100%

            .bullet
                display: inline-block
                width: 10px
                height: 10px
                background-color: white
                border-radius: 10px
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25)

                &.active
                    width: 14px
                    height: 14px

                &:not(.active)
                    margin-bottom: 2px

            fieldset
                background: rgba(255, 255, 255, 1)
                border-style: unset
                border-radius: 1rem
                padding: 10px
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5)

                .progressbar
                    margin: auto
                    width: 75%
                    border-radius: 1rem
                    background-color: #9fd5dd
                    box-shadow: inset 1px 3px 7px rgba(0, 0, 0, 0.36)

                    & > div
                        position: relative
                        width: 1%
                        border-radius: 0.5rem

                        hr
                            margin: unset
                            background-color: #0546c9
                            border-radius: 0.5rem
                            height: 1rem
                            box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.75)

                    .btn
                        padding: 0.75rem

                form
                    .message
                        display: none
                        text-align: center
                        color: red
                        font-size: 14px

                    .input-group
                        width: 100%
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75)
                        margin-bottom: 10px
                        border-radius: 0.5rem

                        .input-group-addon, .form-control
                            height: 50px
                            background-color: white
                            border: 1px solid rgb(5, 70, 201)

                        .input-group-addon
                            padding-right: 30px
                            border-right: 0
                            border-top-right-radius: 0
                            border-bottom-right-radius: 0

                        .form-control
                            border-top-left-radius: 0
                            border-bottom-left-radius: 0

                    .btn-triple
                        border-radius: 0.75rem
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75), inset 0px 2px 5px #6e94e0, inset 0px -2px 5px #032370
                        background-color: rgb(5, 70, 201)
                        border: 1px solid white

                        .btn
                            padding: 0.375rem 0.75rem
                            background-color: transparent
                            line-height: 1
                            font-size: 1.25rem
                            font-weight: 500
                            border-style: none
                            box-shadow: unset

                            hr
                                margin: 5px 0px

                            &:first-child
                                width: 80%
                                border-right: 1px solid white

                            &.arrow
                                font-size: 3rem
                                line-height: 0.75
                                width: 20%

                    &.error
                        .input-group, .input-group .input-group-addon, .input-group .form-control
                            border-color: red

                        .input-group
                            .input-group-addon
                                background-color: red
                                color: white

                        .message
                            display: block

                ol
                    margin: 5px 0
                    padding-left: 1rem

                    li
                        font-size: 14px

                .separator
                    display: block
                    margin: 5px auto

            .btn
                margin: 0
                background-color: rgb(5, 70, 201)
                color: white
                font-weight: 600
                font-size: 1.5rem
                border-radius: 0.75rem
                border-color: white
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75), inset 0px 2px 5px #6e94e0, inset 0px -2px 5px #032370
                -webkit-transition: opacity .15s ease-in-out
                -o-transition: opacity .15s ease-in-out
                transition: opacity .15s ease-in-out

                h1, h2, h3, h4, h5, h6, p
                    margin-bottom: 0
                    line-height: 2

                &.btn-double
                    display: block

                    .double-arrow
                        font-size: 3rem
                        line-height: 0.65

                &:not(.btn-double)
                    padding: 0.375rem 2rem

                &:focus, &:active
                    opacity: 0.75
                    color: white
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1), inset 0px 2px 5px #6e94e0, inset 0px -2px 5px #032370

            &.quiz
                .option
                    display: table
                    max-width: 175px
                    max-height: 175px
                    width: 35vw
                    height: 35vw
                    margin: 10px auto
                    background-color: #fff
                    border-radius: 50%
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5)
                    -webkit-transition: opacity .15s ease-in-out
                    -o-transition: opacity .15s ease-in-out
                    transition: opacity .15s ease-in-out

                    &:focus, &:active
                        opacity: 0.75
                        filter: grayscale(0.75)


                    .option-inner
                        display: table-cell
                        vertical-align: middle

                    img
                        max-height: 75px

    footer
        -webkit-transition: opacity .15s ease-in-out
        -o-transition: opacity .15s ease-in-out
        transition: opacity .15s ease-in-out
        position: absolute
        width: 100%
        top: 100%
        margin-top: -36px

        p
            color: #fff
            margin-bottom: 0
            font-size: 12px
            line-height: 1

            a
                text-decoration: underline
                font-weight: 600
